{% extends 'home.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="container">

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa klubu</th>
            <th scope="col">Dane adresowe</th>
        </tr>
    </thead>
    <tbody>
        {% for row in value%}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
    <h1>Dodaj klub</h1>
    <br>
    {{wtf.quick_form(form)}}
{{response}}
</div>
{% endblock %}